/* LAYOUT  */

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header, footer {
    width: 100vw;
}

header {
    height: 60px;
}

footer {
    height: 40px;
}

header div, footer div {
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    margin: 0 8px;
    display: inline-block;
}

h1 a, h3 a, button a {
    margin: 0;
}

.sign-in {
    width: 75px;
    height: 30px;
}

main {
    width: 50vw;
    height: 92vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -150px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    width: 75%;
    max-width: 600px;
    min-width: 400px;
    height: 40px;
    margin: 20px 0;
    padding: 0 20px;
}

.search-bar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    height: 40px;
    padding: 0 20px;
}

.search-buttons {
    width: 350px;
    display: flex;
    justify-content: space-around;
}

.search-buttons a {
    width: 160px;
    height: 40px;
}

footer {
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
}



/* THEME */

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    font-weight: 200;
}

a:visited {
    color: inherit;
}

.sign-in {
    border-radius: 2px;
    background: linear-gradient(#4683ea, #4387fd);
    color: white;
    text-align: center;
    line-height: 28px;
}

.sign-in:visited {
    color: white;
}

input {
    border: none;
    background: transparent;
}

.search-bar {
    border: 2px solid rgba(223, 225, 229, .8);
    border-radius: 50px;
}

.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.search-bar-icon {
    color: #9AA0A6;
}

input {
    font-size: 1em;
}

input:focus, button:focus {
    outline: none;
} 

.search-buttons a {
    background: rgb(239, 239, 239);
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
}

.search-buttons a:hover {
    border: 1px solid rgba(175, 175, 175, 0.8);
}

